# dependencies
/node_modules

# misc
.DS_Store
npm-debug.log*
yarn-error.log

/coverage
.idea
*bak
.vscode
.cache

env/.env*.local
/.umirc.local.ts
/config/config.local.ts

/src/.umi
/src/.umi-production
/.umi
/.umi-production
/.umi-test

# production
/build
/dist
/.mfsu
/.vscode
