.container {
  padding: 24px;
  
  .ant-typography {
    margin-bottom: 0;
  }
  
  .ant-card {
    margin-bottom: 16px;
    height: 100%;
    
    .ant-progress {
      margin-top: 12px;
    }
  }

  .chart-container {
    height: 300px;
  }
}