
@online-color: #4CAF50;      // 绿色 - 在线
@maintaining-color: #FFC107; // 黄色 - 维护
@alarm-color: #F44336;       // 红色 - 告警
@offline-color: #9E9E9E;     // 灰色 - 离线

.device-online-row {
  color: @online-color;
}

.device-maintaining-row {
  color: @maintaining-color;
}

.device-alarm-row {
  color: @alarm-color;
}

.device-offline-row {
  color: @offline-color;
}


/* 确保样式应用到所有列，包括固定列 */
.ant-table-tbody > tr.device-online-row > td,
.ant-table-tbody > tr.device-maintaining-row > td,
.ant-table-tbody > tr.device-alarm-row > td,
.ant-table-tbody > tr.device-offline-row > td {
  color: inherit !important;
}
