@import "~antd/es/style/themes/default.less";

.style_overflow {
  .Overflow(3); /* stylelint-ignore */

  word-break: break-all;
}

.purchase_container {
  position: relative;
}

.operationBtn {
  .Flex(column, center, center);

  width: 100%;
  .stop_btn {
    padding-top: 10px;
    color: #faad14;
    cursor: pointer;
  }
  .operation_btn {
    padding-top: 10px;
    color: #f5222d;
    cursor: pointer;
  }
}
