@import "~antd/es/style/themes/default.less";

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-page-header {
  background: #fff;
}

.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

.hideScrollBar {
  &::-webkit-scrollbar {
    width: 0 !important;
  }
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;

        > span {
          display: block;
        }
      }
    }
  }
}

// Compatible with IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}

html,
body {
  .card-pt10 {
    > .ant-pro-card-body {
      padding-top: 10px;
    }
  }

  .card-pb0 {
    .ant-pro-card-body {
      padding-bottom: 0;
    }
  }
}

// 业务样式复写
.ant-table-tbody > tr.ant-table-row-level-1:hover > td {
  background: unset;
}

.ant-pro-page-container-main .ant-pro-page-container-extraContent {
  min-width: auto !important;
}

.tc {
  text-align: center;
}

.b {
  font-weight: bold;
}

// backgournd color set
.bg-gold {
  background-color: #fffbe6;
}

// color set
.c-gold {
  color: #fffbe6;
}

.pl-10 {
  padding-left: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.px-10 {
  padding-right: 10px;
  padding-left: 10px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-10 {
  padding: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.px-20 {
  padding-right: 20px;
  padding-left: 20px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.p-20 {
  padding: 20px;
}

.ml-10 {
  margin-left: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mx-10 {
  margin-right: 10px;
  margin-left: 10px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.m-10 {
  margin: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mx-20 {
  margin-right: 20px;
  margin-left: 20px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.m-20 {
  margin: 20px;
}

.dynamic-delete-button {
  position: relative;
  margin: 0 8px 0 0;
  color: #c30000;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.ant-form-special.ant-form-inline {
  .ant-form-item {
    margin-right: 12px;
  }

  .ant-form-item-with-help {
    margin-bottom: 0;
  }
}

.small-count-down {
  .ant-statistic-content {
    font-size: 14px;
  }
}

.maintain-goods-table {
  .ant-card {
    .ant-card-body {
      padding: 0;
    }
  }
}

.flash-sale-form {
  .ant-upload-list-picture-card .ant-upload-list-item {
    padding: 0;
  }

  .ant-upload.ant-upload-select-picture-card {
    width: 30px;
    height: 30px;
  }

  .ant-upload-list-picture-card-container {
    width: 60px;
    height: 30px;
    margin-bottom: 0;
  }
}
